// Формочки
form {
	label {
		font-style: italic;
		font-size: 1em;
		.required {
			color: #ff0000;
		}
	}
	.errorMessage {
		font-size: 12px;
	}
	.row {
		&.buttons {
			padding: 10px 0;
		}
	}
	input[type=text],
	input[type=password],
	input[type=number],
	input[type=email],
	select {
		background: #fff;
		border: 1px solid #cfcfcf;
		border-radius: 5px;
		.box-sizing;
		display: block;
		height: 30px;
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		margin: 2px 0;
		max-width: 100%;
		outline: none;
		-moz-appearance: none;
		padding: 0 10px;
		width: 100%;
		&.error {
		}
		&:disabled {
			opacity: .5;
		}
		&:focus {
			border-color: #aaa;
		}
	}
	textarea {
		background: #fff;
		border: 1px solid #cfcfcf;
		border-radius: 5px;
		.box-sizing;
		display: block;
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		min-height: 150px;
		margin: 2px 0;
		outline: none;
		-moz-appearance: none;
		padding: 5px 10px;
		resize: none;
		width: 100%;
		&:focus {
			border-color: #aaa;
		}
	}
}

a.button,
button,
input[type=button],
input[type=cencel],
input[type=submit] {
	@color: @color-blue;
	.box-sizing;
	background: @color;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	height: 30px;
	margin: 2px 0;
	.noselected;
	line-height: 30px;
	outline: none;
	-moz-appearance: none;
	padding: 0 15px;
	text-decoration: none;
			transition: background .3s ease, color .3s ease;
	-webkit-transition: background .3s ease, color .3s ease;
	.noselected;
	&:active,
	&:hover {
		background: darken(@color, 5%);
	}
	&:active {
		background: darken(@color, 7%);
		line-height: 28px;
		padding-top: 1px;
				transition: none;
		-webkit-transition: none;
	}
	&.red {
		@color: @color-red;
		background: @color;
		&:active,
		&:hover {
			background: darken(@color, 5%);
		}
		&:active {
			background: darken(@color, 7%);
		}
	}
	&.gray {
		@color: @color-gray;
		background: @color;
		&:active,
		&:hover {
			background: darken(@color, 5%);
		}
		&:active {
			background: darken(@color, 7%);
		}
	}
}

.field-block {
	display: inline-block;
	> * {
		border-radius: 0;
		margin: 0;
	}
	> .label {
		background: #fff;
		border: 1px solid #cfcfcf;
		border-radius: 5px;
		.box-sizing;
		color: #7a7a7a;
		cursor: default;
		display: inline-block;
		height: 30px;
		line-height: 28px;
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		margin: 2px 0;
		outline: none;
		-moz-appearance: none;
		padding: 0 10px;
		&:first-child {
			margin-right: -1px;
		}
	}
	> :first-child {
		border-radius: 5px 0 0 5px;
	}
	> :last-child {
		border-radius: 0 5px 5px 0;
	}
	&::after {
		content: '';
		clear: both;
		display: block;
	}
}

// Стилизованные checkbox и radio 
input[type="checkbox"],
input[type="radio"] {
	display:none;            
}

input[type="checkbox"] + label, 
input[type="radio"] + label {
	cursor: pointer;
	color: #444;
	line-height: 30px;
	top: -2px;
	position: relative;
}
input[type="checkbox"] + label {
	font-style: normal;
}
input[type="radio"] + label {
	font-style: italic;
}

input[type="checkbox"]:checked + label, 
input[type="radio"]:checked + label {
	color: #000;
}
input[type="checkbox"] + label:hover, 
input[type="radio"] + label:hover {
	color: #000;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
	background: #fff;
	background-repeat: no-repeat;
	border: 2px solid #299ce0;
	box-shadow: inset 0 0 0 2px #fff;
	.box-sizing;
	content: "";
	display: inline-block;
	height: 16px;
	margin: 0;
	margin: 4px 0;
	margin-right: 5px;
	position: relative;
	opacity: .9;
	top: 7px;
	width: 16px;
}
input[type="checkbox"] + label::before {
	border-radius: 5px;
}
input[type="radio"] + label::before {
	border-radius: 50%;
}

input[type="checkbox"] + label:hover::before {
	opacity: 1;
}
input[type="radio"] + label:hover::before {
	opacity: 1;
}
input[type="checkbox"]:checked + label::before {
	background: #299ce0;
}
input[type="radio"]:checked + label::before {
	background: #299ce0;
}

input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label {
	color: #bbb;
	cursor: default;
}

input[type="checkbox"]:disabled + label::before {
	border-color: #bbb;
}
input[type="radio"]:disabled + label::before {
	border-color: #bbb;
}
input[type="checkbox"]:checked:disabled + label::before {
	background: #bbb;
}
input[type="radio"]:checked:disabled + label::before {
	background: #bbb;
}

// Стилизованный селект chosen
.chosen-container-single .chosen-single {
	background: #fff;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	box-shadow: none;
	.box-sizing;
	display: block;
	height: 30px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	margin: 2px 0;
	max-width: 100%;
	min-width: 128px;
	line-height: 28px;
	outline: none;
	-moz-appearance: none;
	padding: 0 10px;
	width: 100%;
}
.chosen-container-active.chosen-with-drop .chosen-single {
	background: #fff;
	border-color: #aaa;
	box-shadow: none;
}
.chosen-container .chosen-drop {
	border: 1px solid #aaa;
	margin-top: -3px;
	border-radius: 0 0 5px 5px;
}
.chosen-container-single .chosen-single div {
	.box-sizing;
	padding: 3px;
}

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background: @color-blue;
  border-radius: 5px;
  color: #fff;
}


// Колонки
*[class*=column] {
	.box-sizing;
	display: block;
	float: left;
	padding-left: 10px;
	&:first-child {
		padding-left: 0;
	}
	&.column20 {
		width: 20%;
	}
	&.column25 {
		width: 25%;
	}
	&.column33 {
		width: 33.3%;
	}
	&.column50 {
		width: 50%;
	}
	&.column66 {
		width: 66.6%;
	}
	&.column75 {
		width: 75%;
	}
	&.column80 {
		width: 80%;
	}
	&.column100 {
		width: 100%;
		float: none;
	}
}

.clear {
	clear: both;
}
