@import "_variables";
@import "_mixins";
@import "_fonts";
@import "_form";

html {
	height: 100%;
}
body {
	.box-sizing;
	background: #112243;
	font-size: 16px;
	font-weight: normal;
	font-family: 'PT Sans', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0 12px;
	position: relative;
	min-width: 1024px;
}

a {
	&:hover {}
	&:active {}
}
.clearfix{
	clear: both;
}


[data-tooltip] {
    cursor: help;
}

[data-tooltip]::after {
    background: rgba(255,255,255,255);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    color: #54545C;
    content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
    margin-top: -24px;
    /*opacity: 0; /* Наш элемент прозрачен... */
    padding: 3px 7px;
    position: absolute;
    visibility: hidden; /* ...и скрыт. */
    transition: all 0.01s ease-in-out; /* Добавить плавности по вкусу */
}
        
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем его */
    visibility: visible;
}

.container {
	.box-sizing;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 1024px;
}

#wrap {
	background: #fff;
	.box-sizing;
	min-height: 100%;
	padding-bottom: 155px;
	position: relative;
}

// Меню
#menu {
	background: #dce3e9;
	margin: 0;
	list-style: none;
	overflow: hidden;
	padding: 15px 36px;
	position: relative;
	z-index: 1;
	li {
		display: block;
		float: left;
		font-size: 12px;
		margin: 0 2px;
		padding: 0;
		a {
			background: #9bc7e2;
			border-radius: 5px;
			color: #545454;
			display: block;
			.noselected;
			padding: 5px 15px;
			text-decoration: none;
			&:hover {}
			&:active {
				padding-top: 6px;
				padding-bottom: 4px;
			}
		}
		&.glow {
			a {
				box-shadow: inset 0 0 0 2px #58b2b1;
			}
		}
		&.attention {
			a {
				color: #f93142;
			}
		}
	}
	.favorite {
		color: #7a7a7a;
		display: block;
		font-size: 11px;
		font-weight: bold;
		height: 12px;
		margin-top: -5px;
		.noselected;
		line-height: 1em;
		position: absolute;
		right: 40px;
		text-decoration: none;
		.transition(color .3s ease);
		top: 50%;
		&:before {
			background: url('../images/icons/header.favorite.png') 50% 50% no-repeat;
			content: '';
			display: block;
			height: 12px;
			margin: 0 5px;
			right: 100%;
			position: absolute;
			top: -2px;
			width: 12px;
		}
		&:hover {
			color: darken(#7a7a7a, 5%);
		}
		&:active {
			margin-top: -4px;
		}
	}
}

// Шапка
#header {
	@color: #f7f6f3;
	.gradient(-65deg, @color 0%, #fff 20%, @color 23%, @color 60%, #fff 80%, @color 83%);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
	height: 115px;
	position: relative;
	.logo {
		background: url('../images/header.logo.png') 50% 50% no-repeat;
		display: block;
		float: left;
		height: 100%;
		width: 300px;
	}
	.search {
		display: block;
		float: left;
		height: 100%;
		position: relative;
		width: 480px;
		input[type=text] {
			border: 2px solid #c0c0bf;
			border-radius: 5px;
			.box-sizing;
			font-size: 18px;
			height: 45px;
			margin-top: -22.5px;
			line-height: 45px;
			padding: 0 15px;
			position: absolute;
			top: 50%;
			width: 100%;
		}
		input[type=submit] {
			background: url('../images/icons/header.search.png') 50% 50% no-repeat;
			border: none;
			height: 45px;
			margin-top: -22.5px;
			position: absolute;
			right: 0;
			opacity: .5;
			top: 50%;
			.transition(opacity .3s ease);
			width: 45px;
			&:active {
				opacity: 1;
				margin-top: -21.5px;
			}
		}
		input[type=text]:focus + input[type=submit] {
			opacity: 1;
		}
	}
	a.request {
		.gradient(0deg, #d86405 0%, #df8404 100%);
		border-radius: 5px;
		.box-sizing;
		color: #fff;
		display: block;
		font-size: 13px;
		font-weight: bold;
		height: 45px;
		margin-top: -22.5px;
		.noselected;
		line-height: 43px;
		overflow: hidden;
		padding: 1px 0;
		padding-right: 10px;
		position: absolute;
		right: 40px;
		text-decoration: none;
		top: 50%;
		width: 150px;
		.icon {
			background: url('../images/icons/header.request.png') 50% 100% no-repeat;
			display: block;
			float: left;
			height: 100%;
			margin-right: 5px;
			position: relative;
			top: 1px;
			width: 55px;
		}
		.text {
			display: inline-block;
			line-height: 1em;
			vertical-align: middle;
			width: 80px;
		}
		&:active {
			padding-top: 2px;
			padding-bottom: 0;
		}
	}
}

// Контент
#main {
	padding: 36px;
	> .categories {
		overflow: hidden;
		text-align: center;
		margin: 0 -25px;
		.items {
			.item {
				.box-sizing;
				display: block;
				color: #8e9092;
				font-size: 12px;
				float: left;
				padding: 5px 20px;
				text-decoration: none;
				width: 16.6%;
				.icon {
					background: 50% 50% no-repeat;
					border: 2px solid rgba(255, 255, 255, 0.5);
					border-radius: 7px;
					.box-sizing;
					display: block;
					height: 120px;
					margin-bottom: 5px;
					width: 100%;
				}
				.title {
					display: block;
					height: 35px;
					overflow: hidden;
					text-align: center;
				}
				&:hover {
					.icon {
						border-color: rgba(255, 255, 255, 0.3);
					}
				}
				&:active {
					.icon {
						border-color: rgba(255, 255, 255, 0);
					}
				}
			}
		}
		.buttons {
			display: inline-block;
			button {
				float: left;
				margin: 2px;
			}
		}
	}
	> .personal {
		position: relative;
		h1 {
			color: #54b0e6;
			font-size: 24px;
			margin-top: 0;
		}
		.information {
			width: 750px;
			margin-bottom: 15px;
			.item {
				font-size: 13px;
				color: #8e9092;
				.title {
					display: inline-block;
					width: 50%;
				}
				.value {
					color: #54b0e6;
					font-weight: bold;
					&.marked {
						color: #00ce2b;
					}
					&.warn {
						color: #ef4136;
					}
				}
				.seporator {}
				.link {
					text-decoration: none;
					color: #a5a6a8;
					text-transform: lowercase;
					&:hover {
						text-decoration: underline;
					}
				}
				&.status {
					.value {
						.light {
							background: url('../images/icons/lighter.png') 0 50% no-repeat;
							display: inline-block;
							height: 15px;
							position: relative;
							top: 3px;
							margin-left: 5px;
							width: 38px;
							&.green {
								background-position: 50% 100%;
							}
							&.yellow {
								background-position: 50% 50%;
							}
							&.red {
								background-position: 50% 0;
							}
						}
					}
				}
				&.rating {
					.stars {
						background: #c7c7c7;
						display: inline-block;
						height: 10px;
						margin: 0 5px;
						margin-top: -2px;
						position: relative;
						vertical-align: middle;
						width: 50px;
						.progress {
							background: #00ce2b;
							display: block;
							position: absolute;
							left: 0;
							top: 0;
							width: 0;
							height: 100%;
						}
						&::after {
							background: url('../images/icons/star.png') 0 0 repeat-x;
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							z-index: 1;
						}
					}
				}
			}
		}
		> .buttons {
			position: absolute;
			right: 0;
			top: 0px;
			.button {
				background-position: 10px 50%;
				background-repeat: no-repeat;
				display: block;
				font-weight: bold;
				height: 40px;
				margin-bottom: 5px;
				line-height: 40px;
				padding-left: 40px;
				&.statistic {
					background-image: url('../images/icons/statistic.png');
				}
				&.up {
					background-image: url('../images/icons/up.png');
				}
				&.ad {}
					background-image: url('../images/icons/ad.png');
			}
		}
		.tabs {
			> .menu {
				background: #f5f4f1;
				margin: 0;
				.noselected;
				list-style: none;
				padding: 0;
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				li {
					display: block;
					float: left;
					list-style: none;
					line-height: 50px;
					width: 16.667%;
					height: 50px;
					a {
						box-shadow: -3px 0 5px -3px rgba(0, 0, 0, 0.1);
						color: #919191;
						display: block;
						font-size: 13px;
						font-weight: bold;
						height: 100%;
						text-align: center;
						text-decoration: none;
						width: 100%;
						span {
							display: inline-block;
							vertical-align: middle;
							line-height: normal;
						}
					}
					&.active {
						border-radius: 5px 5px 0 0;
						box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
						z-index: 1;
						a {
							border-radius: 5px 5px 0 0;
							box-shadow: none;
							color: #696969;
							.gradient(-90deg, #f6f6f6 0%, #f5f5f5 100%);
							position: relative;
							z-index: 2;
							&::after,
							&::before {
								border: none;
								border-bottom: 2px solid #f5f5f5;
								border-radius: 0 0 50% 50%;
								box-shadow: 0 2px 0 0 #f5f5f5;
								.box-sizing;
								bottom: 0;
								content: '';
								display: block;
								margin-bottom: -1px;
								height: 11px;
								position: absolute;
								width: 11px;
							}
							&::before {
								margin-right: -1px;
								right: 100%;
								.transform(rotate(-45deg));
							}
							&::after {
								margin-left: -1px;
								left: 100%;
								.transform(rotate(45deg));
							}
						}
						&:first-child {
							a {
								&::before {
									background: #f5f5f5;
									border: none;
									border-radius: 0;
									bottom: auto;
									box-shadow: none;
									left: 0;
									right: auto;
									top: 100%;
									.transform(none);
								}
							}
						}
						&:last-child {
							a {
								&::after {
									background: #f5f5f5;
									border: none;
									border-radius: 0;
									bottom: auto;
									box-shadow: none;
									left: auto;
									right: 0;
									top: 100%;
									.transform(none);
								}
							}
						}
					}
					&.disabled {
						a {
							color: #d7d6d4;
							cursor: default;
						}
					}
				}
			}
			.sections {
				border-radius: 5px;
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
				.gradient(-90deg, #f5f5f5 0%, #f0efee 100%);
				// min-height: 400px;
				padding: 20px;
				position: relative;
				z-index: 1;
				.tab {
					overflow: hidden;
					display: none;
					&.active {
						display: block;
					}
					&[data-tab=messages] {
						padding-top: 30px;
						.left {
							// border: 1px solid black;
							float: left;
							width: 20%;
							.menu {
								margin: 20px 0;
								list-style: none;
								padding: 0;
								padding-left: 10px;
								li {
									display: block;
									margin: 0;
									padding: 0;
									a {
										display: block;
										color: #54b0e6;
										padding: 3px 0;
										text-decoration: underline;
										&:hover {
											text-decoration: none;
										}
									}
									&.active {
										a {
											font-weight: bold;
										}
									}
								}
							}
						}
						.right {
							// border: 1px solid black;
							margin-left: 20%;
							padding-left: 30px;
							.box-sizing;
							width: 80%;
							.items {
								margin: 0;
								list-style: none;
								padding: 0;
								li {
									display: block;
									margin: 0;
									margin-bottom: 5px;
									a {
										background: #f2f1f0;
										border: 1px solid #cfcfcf;
										border-radius: 5px;
										.box-sizing;
										color: #333333;
										display: block;
										padding: 10px;
										text-decoration: none;
										.from {}
										.date {
											float: right;
										}
									}
									&.new {
										a {
											background: #fff;
										}
									}
								}
							}
							.message {
								margin-top: -20px;
								padding-top: 22px;
								position: relative;
								.from {
									color: #8e9092;
									display: block;
									position: absolute;
									left: 0;
									top: 0;
								}
								.date {
									color: #8e9092;
									display: block;
									position: absolute;
									right: 0;
									top: 0;
								}
								.text {
									background: #fff;
									border: 1px solid #cfcfcf;
									border-radius: 5px;
									.box-sizing;
									color: #333333;
									display: block;
									margin-bottom: 5px;
									padding: 10px;
									p {
										padding: 0;
										margin: 3px 0;
										&:first-letter {
											padding-left: 20px;
										}
									}
								}
							}
							.send {
								.to {
									label {
										float: left;
										height: 30px;
										line-height: 30px;
										width: 7%;
									}
									input {
										width: 93%;
									}
								}
							}
							.buttons {
								display: inline-block;
								margin-top: 10px;
								overflow: hidden;
								text-align: right;
								width: 100%;
								button {
									display: block;
									float: right;
									margin: 0;
									margin-left: 10px;
									.icon {
										background: no-repeat 50% 50%;
										display: block;
										float: left;
										height: 30px;
										margin-left: -15px;
										width: 30px;
										&.delete {
											background-image: url('../images/icons/button.delete.png');
										}
									}
								}
							}
						}
					}
					&[data-tab=information] {
						form {
							.row {
								padding-left: 20px;
								margin: 7px 0;
								position: relative;
								&.buttons {
									float: right;
									overflow: hidden;
									input {
										float: left;
										margin-left: 10px;
									}
								}
								&.image {
									label {
										display: inline-block;
										height: 34px;
										line-height: 36px;
									}
								}
								button.add {
									border-radius: 50%;
									height: 30px;
									padding: 0;
									width: 30px;
									&:active {
										padding-top: 1px;
									}
								}
							}
							.icon {
								width: 19px;
								height: 19px;
								background: #d2d2d2;
								float: left;
								position: absolute;
								left: 0;
								top: 50%;
								margin-top: -10px;
							}
							label {
								font-style: normal;
								font-size: 14px;
								color: #333333;
								margin: 0 15px;
							}
							input[type=text],
							input[type=number],
							input[type=password],
							input[type=email],
							select {
								display: inline-block;
								width: auto;
							}
						}
					}
					&[data-tab=services] {
						overflow: visible;
						.addcategory {
							overflow: hidden;
							.item {
								cursor: pointer;
								display: block;
								float: left;
								width: 11.1%;
								padding-bottom: 20px;
								.icon {
									background: #ddd;
									border-radius: 5px;
									display: block;
									height: 64px;
									margin: 0 auto;
									width: 64px;
								}
								.title {
									color: #8e9092;
									font-size: 14px;
									display: block;
									padding: 3px 10px;
									text-align: center;
									text-decoration: underline;
								}
								&:hover {
									.title {
										text-decoration: none;
									}
								}
							}
						}
						.categories {
							hr {
								border: none;
								border-button: 1px solid #ffffff;
								border-top: 1px solid #cccccc;
							}
							.category {
								margin-bottom: 20px;
								min-height: 210px;
								position: relative;
								.info {
									.box-sizing;
									float: left;
									margin-left: -20px;
									width: 145px;
									.icon {
										background: #ddd;
										border-radius: 5px;
										display: block;
										height: 66px;
										margin: 0 auto;
										width: 66px;
									}
									.title {
										font-size: 13px;
										display: block;
										margin: 10px auto;
										padding: 0 5px;
										text-align: center;
									}
								}
								.addphoto {
									background: url('../images/icons/addphoto.png')	10px 50% no-repeat;
									border: 1px solid #d2d2d2;
									border-radius: 5px;
									bottom: 50px;
									.box-sizing;
									color: #424242;
									cursor: pointer;
									display: block;
									font-size: 12px;
									text-decoration: none;
									height: 32px;
									.noselected;
									padding-left: 47px;
									width: 130px;
									position: absolute;
									left: -13px;
									&:active {
										margin-bottom: -1px;
									}
								}
								.services {
									border: 1px solid #ebebeb;
									border-top: none;
									border-radius: 5px;
									.box-sizing;
									font-weight: bold;
									margin-left: 125px;
									header {
										background: #fff;
										border: 1px solid #cfcfcf;
										border-bottom: 1px solid #ebebeb;
										border-radius: 5px 5px 0 0;
										color: #919191;
										font-size: 13px;
										height: 32px;
										line-height: 32px;
										> div {
											border-left: 1px solid #ebebeb;
											float: left;
											&:first-of-type {
												border-left: none;
											}
											.box-sizing;
											&.title {
											}
											&.price {
												&.accurate {
													text-align: center;
													line-height: normal;
													font-size: 12px;
												}
											}
											&.unit {
												text-align: center;
											}
											&.image {
											}
											&.advanced {
											}
										}
									}
									.items {
										padding: 0 1px;
										.item {
											.gradient(-90deg, #fff 0%, #f1f0ef 100%);
											height: 40px;
											line-height: 40px;
											> div {
												border-left: 1px solid #ebebeb;
												&:first-of-type {
													border-left: none;
												}
												&.title {
													color: #5b5a5a;
													font-size: 14px;
												}
												&.price {
													font-size: 14px;
													color: #919191;
													input {
														border-width: 2px;
														display: inline-block;
														font-size: 13px;
														font-weight: bold;
														height: 22px;
														width: 60px;
														margin-right: 3px;
													}
													&.error {
														input {
															border-color: #ef4136;
														}
													}
												}
												&.unit {
													line-height: 38px;
													position: relative;
													select {
														border-width: 2px;
														font-size: 13px;
														font-weight: bold;
														display: inline-block;
														height: 22px;
														width: 65px;
													}
													.chosen-container {
														width: 100%!important;
														.chosen-drop {
															min-width: 150px;
														}
													}
													.chosen-container-single .chosen-single {
														min-width: 0;
														div {
															padding: 0;
														}
													}
												}
												&.image {
													.img {
														background: #d2d2d2;
														vertical-align: middle;
														display: inline-block;
														margin-bottom: 5px;
														height: 22px;
														width: 22px;
														img {
															display: block;
															width: 100%;
														}
													}
													a {
														color: #54b0e6;
														font-size: 13px;
														font-weight: normal;
													}
												}
												&.advanced {
													button {
														display: block;
														float: left;
														width: 28px;
														height: 28px;
														padding: 0;
														margin: 4px 0;
														margin-right: 5px;
														&:last-of-type {
															margin-right: 0;
														}
													}
													input[type="checkbox"] + label {
														border: none;
														background: url('../images/icons/advanced.png') 0 100% no-repeat;
														display: block;
														float: left;
														width: 28px;
														height: 28px;
														padding: 0;
														margin: 4px 0;
														margin-right: 5px;
														&::before {
															display: none;
															content: none;
														}
														&:last-of-type {
															margin-right: 0;
														}
														&:nth-of-type(1) {
															background-position: 0 100%;
														}
														&:nth-of-type(2) {
															background-position: -28px 100%;
														}
														&:nth-of-type(3) {
															background-position: -56px 100%;
														}
														&:nth-of-type(4) {
															background-position: -84px 100%;
														}
													}
													input[type="checkbox"]:checked + label {
														&:nth-of-type(1) {
															background-position: 0 0;
														}
														&:nth-of-type(2) {
															background-position: -28px 0;
														}
														&:nth-of-type(3) {
															background-position: -56px 0;
														}
														&:nth-of-type(4) {
															background-position: -84px 0;
														}
													}
												}
											}
										}
									}
									header,
									.items .item {
										&::after {
											content: '';
											display: block;
											clear: both;
										}
										> div {
											.box-sizing;
											height: 100%;
											float: left;
											padding: 2px 7px;
											&.title {
												width: 251px;
											}
											&.price {
												width: 105px;
											}
											&.unit {
												width: 80px;
											}
											&.image {
												width: 100px;
											}
											&.advanced {
												width: 142px;
											}
										}
									}
								}
								> a.price {
									background: url('../images/icons/upload.png') 100% 50% no-repeat;
									color: #333333;
									display: block;
									font-weight: bold;
									float: right;
									height: 30px;
									margin-right: 5px;
									margin-top: 20px;
									line-height: 30px;
									padding-right: 35px;
									&:hover {
										text-decoration: none;

									}
								}
							}

							&.register {
								border-top: 1px solid #ccc;
								margin: 0 -20px;
								.category {
									border-bottom: 1px solid #ccc;
									border-top: 1px solid #fff;
									margin-bottom: 0;
									&:last-of-type {
										border-bottom: none;
									}
									&::before {
										border-left: 1px solid #ccc;
										border-right: 1px solid #fff;
										content: '';
										display: block;
										height: 100%;
										left: 177px;
										padding-bottom: 1px;
										position: absolute;
										top: -1px;
										width: 0;
									}
									.info {
										margin: 0;
										padding: 20px;
										width: 177px;
									}
									.addphoto {
										left: 25px;
										bottom: 20px;
									}
									.services {
										border: none;
										border-radius: 0;
										margin-left: 177px;
										padding: 20px;
										.item {
											select {
												display: inline-block;
												width: auto;
											}
										}	
									}
								}
							}
						}
					}
					&[data-tab=advanced] {
						form {
							.row {
								padding-left: 20px;
								margin: 7px 0;
								position: relative;
								&.buttons {
									float: right;
									overflow: hidden;
									input {
										float: left;
										margin-left: 10px;
									}
								}
								button.add {
									border-radius: 50%;
									height: 30px;
									padding: 0;
									width: 30px;
									&:active {
										padding-top: 1px;
									}
								}
							}
							.icon {
								width: 19px;
								height: 19px;
								background: #d2d2d2;
								float: left;
								position: absolute;
								left: 0;
								top: 50%;
								margin-top: -10px;
							}
							label {
								font-style: normal;
								font-size: 14px;
								color: #333333;
								margin: 0 15px;
							}
							input[type=text],
							input[type=number],
							input[type=email],
							select {
								display: inline-block;
								max-width: 100%;
								min-width: 128px;
								width: auto;
							}
						}
					}
					&[data-tab=vip] {}
					&[data-tab=packets] {
						header {
							overflow: hidden;
							position: relative;
							z-index: 1;
							margin-bottom: -1px;
							.curent {
								.box-sizing;
								color: #919191;
								font-size: 12px;
								font-weight: bold;
								height: 42px;
								line-height: 42px;
								padding: 0 15px;
								.title {
									color: #919191;
									&.marked {
										color: #00ce2b;
									}
								}
							}
							.packets {
								border: 1px solid #dadada;
								border-bottom: 0;
								border-radius: 7px 7px 0 0;
								.box-sizing;
								float: right;
								.gradient(-90deg, #fff 0%, #f0efee 100%);
								height: 42px;
								overflow: hidden;
								.item {
									.box-sizing;
									box-shadow: -5px 0 7px -7px rgba(0, 0, 0, 0.3);
									float: left;
									font-size: 12px;
									font-weight: bold;
									height: 100%;
									padding: 10px 15px;
									text-align: center;
									width: 100px;
									span {
										display: block;
										&.price {
											color: #919191;
										}
									}
									&.marked {
										span {
											color: #00ce2b;
											&.price {
												color: #919191;
											}
										}
									}
									&.muted {
										span {
											color: #bfbfbf;
											&.price {
												color: #919191;
											}
										}
									}
								}
							}
						}
						.items {
							.box-sizing;
							border: 1px solid #dadada;
							border-radius: 7px 0 7px 7px;
							overflow: hidden;
							.item {
								.box-sizing;
								color: #5b5a5a;
								font-size: 13px;
								font-weight: bold;
								.gradient(-90deg, #fff 0%, #f0efee 100%);
								padding: 0 15px;
								height: 42px;
								line-height: 42px;
								position: relative;
								.packets {
									color: #53afe5;
									display: block;
									position: absolute;
									right: 0;
									height: 100%;
									overflow: hidden;
									top: 0;
									span {
										box-shadow: -5px 0 7px -7px rgba(0, 0, 0, 0.3);
										.box-sizing;
										display: block;
										float: left;
										height: 100%;
										.gradient(-90deg, #fff 0%, #f0efee 100%);
										padding: 0;
										text-align: center;
										width: 100px;
										&.marked {
											box-shadow: -8px 0 1px -7px #bbe5c9;
											.gradient(-90deg, #fff 0%, #ccebd1 100%);
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
    > .search-sort {
    	.chosen-single {
    		background: @color-blue;
    		color: #fff;
    	}
		.chosen-search{
			display: none;
		}
		> .title {
			font-size: 24px;
			color: @color-blue;
			font-weight: bold;
			margin-right: 15px; 
		}
    }
	> .search {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		.middle-search {
			margin-right: 220px;
			h3 {
				margin-top: 0;
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					a {
						display: block;
						border: 1px solid #ededee;
						margin: 2px;
						padding: 5px 20px;
						color: #333333;
						&:hover {
							text-decoration: none;
						}
						span {
							background: #ededed;
						}
					}
				}
			}
		}
		> .items {
			.item {
				background: #fff;
				border: 1px solid #bfbfbf;
				border-radius: 3px;
				.box-sizing;
				margin-bottom: 7px;
				margin-right: 228px;
				padding: 15px;
				overflow: hidden;
				&.colored {
					background: #e8f1ff;
					.right .stars{
						&::after {
							background: url('../images/icons/star3.png') 0 0 repeat-x;
						}
					}
				}
				a {
					color: @color-blue;
					&:hover {
						text-decoration: none;
					}
				}
				.image {
					background: rgba(0, 0, 0, 0.1);
					display: block;
					float: left;
					height: 115px;
					margin-right: 15px;
					overflow: hidden;
					width: 115px;
					img {
						display: block;
						width: 100%;
					}
				}
				.right {
					float: right;
					width: 130px;
					text-align: right;
					.price{
						margin: 0 0 5px 0;
						font-weight: bold;
					}
					.service{
						margin-left: 8px;
						width: 130px;
						height: 28px; 
						i{
							cursor: pointer;
							background: url('../images/icons/advanced.png') 0 100% no-repeat;
							margin: 0 1px 0 1px;
							width: 28px;
							height: 28px;
							overflow: hidden;
							float: left;
							display: block;
							&.up{
								background: url('../images/icons/upup.png') 50% 50% no-repeat;
							}
							&.online{
								background-position: -112px 0;
							}
							&.sale{
								background-position: 0 0;
							}
							&.time{
								background-position: -28px 0;
							}
						}
					}
					.stars {
						background: #c7c7c7;
						background: url('../images/icons/star.png') 0 0 repeat-x;
						background-size: 10px;
						display: inline-block;
						height: 10px;
						margin: 0 5px;
						margin-top: -2px;
						position: relative;
						vertical-align: middle;
						width: 50px;
						.progress {
							background: #00ce2b;
							display: block;
							position: absolute;
							left: 0;
							top: 0;
							width: 0;
							height: 100%;
						}
						&::after {
							background: url('../images/icons/star.png') 0 0 repeat-x;
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							z-index: 1;
						}
					}
					.featured {
							background: linear-gradient(to right, #DF8404, #D86405);
							color: white;
							display: block;
							float: right;
							padding: 0 15px 0 3px;
							margin-right: -15px;
							margin-left: 5px;
							&:after{
								content: '';
								display: block;
								clear: both;
							}
						}
					.reviews {
						margin-bottom: 5px;
						display: block;
						a{
							color: #57595C;
						}
					}
					.quality_mark {

					}
					.reatured {

					}
					.service {
						margin-top: 5px;
						i {

						}
					}

				}
				.info {
					color: #4b4c4e;
					font-size: 14px;
					width: 450px;
					margin-left: 130px;
					> .title {
						color: #4b4c4e;
						display: inline-block;
						font-weight: bold;
						margin-right: 5px;
						&:hover {
							text-decoration: none;
						}
					}
					.icon {
						background: 50% 50% no-repeat;
						display: inline-block;
						height: 15px;
						margin: 0 5px;
						width: 40px;
						&.photo {
							background-image: url('../images/icons/camera.png');
							width: 20px;
						}
						&.price {
							background-image: url('../images/icons/price.png');
							width: 33px;
						}
						&.light {
							background: url('../images/icons/lighter.png') 0 50% no-repeat;
							display: inline-block;
							height: 15px;
							position: relative;
							top: 3px;
							margin-left: 5px;
							width: 38px;
							&.green {
								background-position: 50% 100%;
							}
							&.yellow {
								background-position: 50% 50%;
							}
							&.red {
								background-position: 50% 0;
							}
						}
					}
					> .organization {
						color: #a7acb5;
						display: block;
						.title,
						.type {
							color: #4b4c4e;
							font-weight: bold;
						}
						.city {
							color: #a7acb5;
							&:hover {
								color: #4b4c4e;
							}
						}
					}
					> .description {
						display: block;
						font-size: 13px;
						margin: 5px 0;
					}
					.more {
						margin: 0 15px;
					}
				}
			}
		}
		> .right {
			background: #fff;
			border: 1px solid #bfbfbf;
			border-radius: 3px;
			.box-sizing;
			float: right;
			font-size: 13px;
			min-height: 200px;
			padding: 15px 10px;
			width: 208px;
			h3 {
				margin: 0;
				margin-bottom: 5px;
			}
			.row {
				label {
					line-height: 1.5em;
				}
				&.buttons {
					margin: 0;
					padding: 0;
					button,
					input[type=submit],
					input[type=cencel] {
						margin: 5px 0;
						width: 100%;
					}
				}
			}
			.block {
				margin-bottom: 10px;
			}
			//Слайд
			.slider-minimal{
				margin-bottom: 25px;
				span{
					font-size: 12px;
					color: #5C5C5C;
					position: absolute;
					top: 15px;
				}
			}
			//Двойной слайд
			.custom-slider{
				margin-bottom: 25px;
				span{
					font-size: 12px;
					color: #5C5C5C;
					position: absolute;
					top: 15px;
					&.value{
						&-min{
							left: 0;	
						}
						&-max{
							right: 0;
						}
					}
				}
			}
		}
	}

	> .cart {}
	> .breadcrumbs{
		margin-bottom: 15px;
		background: url('../images/icons/kroshki.png') 100% 100% no-repeat;
		padding-right: 62px;
		float: left;
		a{
			margin: 0 1px 0 0;
			padding: 0 0 0 7px;
			color: #333333;
			text-decoration: none;
			font-size: 12px;
			font-weight: bold;
			& + a{
				border-left: 2px solid #333333;
				margin: 1px;		
			}
		}
	}
}

//Всплывашки(модальные окна)
.modal {
	width: 242px;
	border-radius: 8px;
	padding: 10px;
	margin: 10px;
	color: #525266;
	background: #fff;
	font-size: 14px;
	label{
		.noselected;
	}
	.buttons{
		margin: 5px 0;
		clear: both;
		button{
		}
		.button:nth-child(1),
		input:nth-child(1),
		button:nth-child(1) {
			float: left;
		}
		.button:nth-child(2),
		input:nth-child(2),
		button:nth-child(2) {
			float: right;
		}
		&:after{
			content: "";
			display: block;
			clear: both;
		}
	}
	h4{
		margin: 0;
		margin-bottom: 3px;
	}
	.chosen-search{
		display: none;
	}
	#photo_create_album {
		.title{
			font-weight: bold;
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				a{
					text-decoration: underline;
					color:#333333;
					&:hover {}
					&:active {}
				}
			}
		}
		.max{
			font-size: 12px;
			margin-top: 10px;
		}
	}
	#photo_name_album {
		.title{
			font-size: 12px;
			margin-top: 10px;
		} 
	}
    #photo_addphoto_album {
		.input{
			cursor: pointer;
			margin-top: 2px;
			border: 1px solid #43434C;
			border-radius: 13px;
			background: url("../images/icons/addphoto.png") 30% 50% no-repeat;
			position: relative;
			span{
				position: absolute;
				left: 97px;
				font-size: 12px;
				line-height: 14px;
				top: 3px;
			}
			input{
				-moz-opacity: 0;
				filter: alpha(opacity=0);
				opacity: 0;
				font-size: 30px;
				height: 30px;
				border: 1px solid #43434C;
				border-radius: 3px;
				width: 100%;
			}
		}
		.delete{
				color: #44a8e3;
				&:hover {}
				&:active {}
		}
		.windows{
			margin-top: 7px;
			.box{
				margin: 4px;
				display: inline-block;
				height: 70px;
				width: 70px;
				position: relative;
				img{
					max-width: 100%;
					height: 100%;
					width: 100%;
				}
				> .buttons{
					position: absolute;
					top: -8px;
					right: -8px;
					.button{
						height: 15px;
						width: 15px;
						overflow: hidden;
						margin: 1px;
						padding: 0;
						background: url("../images/icons/edit-close 15px.png");
						transition:all 0s ease 0s;
						&.edit{
							background-position: 0% 0%;
							&:hover{
								background-position: 0% 100%;
							}
						}
						&.delete{
							background-position: 100% 0%;
							&:hover{
								background-position: 100% 100%;
							}
						}
					}
				}
			}
		}
		.delete,.max{
			font-size: 12px;
		}
	}
	#photo_edit_album {
		.middle {
			margin-top: 5px;
			height: 67px;
			img {
				max-width: 100%;
				height: 67px;
				width: 67px;
				float: left;
				margin-right: 5px;
			}
			span {
				position: absolute;;
				display: inline-block;
				width: 185px;
				font-size: 12px;
			}
		}
		.buttons {
			input[type=submit]{
				display: block;
				float: right;
			}
		}
		textarea{
			margin: 10px 0;
		}
	}
	#right_edit_sale {
		.percentage {
			font-size: 18px;
			.pic {
				margin: 3px 5px 0 0;
				height: 28px;
				width: 28px;
				background-image: url('../images/icons/advanced.png');
				overflow: hidden;
				float: left;
			}
			input[type="text"]{
				width: 40px; 
				display: inline-block;
			}
		}
		.buttons {
			margin-top: 10px;
		}
	}
	#right_edit_time {
		.top{
			.pic{
				margin: 3px 5px 0 0;
				height: 28px;
				width: 28px;
				background-image: url('../images/icons/advanced.png');
				background-position: 112px 0px;
				overflow: hidden;
				float: left;
			}
		}
			
		.chosen-single {
			min-width: 0;
			width: 120px;
		}
		.inputs{
			display: inline-block;;
			input[type="number"]{
				width: 110px;
				display: block;
				float: left;
				margin-right: 10px;
			}
			select{
				float: left;
				width: 122px;
			}
		}
		.buttons{}
	}
	#right_edit_description {
		.pic {
			margin: 3px 5px 0 0;
			height: 28px;
			width: 28px;
			background-image: url('../images/icons/advanced.png');
			background-position: 224px 0px;
			overflow: hidden;
			float: left;
			}
			h4{
				padding: 8px;
			}
			.category {
				display: block;
			}
		.category {
			font-weight: bold;
		}
		.max {
			font-size: 12px;
		}
	}
	#right_edit_number {
		.number,.text {
			display: block;
			font-size: 12px;
			white-space: pre-wrap;
		}
		.autonumber{
			border: 1px solid #000;
			border-radius: 6px;
			height: 50px;
			position: relative;
			margin: 15px 0;
			.pix{
				height: 4px;
				width: 4px;
				border-radius: 50%;
				background-color: #43434C;
				position: absolute;
				&:nth-child(1){
					top: 23px;
					left: 7px;
				}
				&:nth-child(2){
					top: 23px;
					right: 7px;
				}
			}
			input[type="text"]{
				border: none; 
			}
			.nomer{
				font-weight: bold;
				border-right: 1px solid #000;
				display: block;
				float: left;
				width: 175px;
				height: 100%;
				input[type="text"]{
					font-size: 34px;
					height: 40px;
					padding: 0 32px;
					margin: 4px 0;
				}
			}
			.region{
				display: block;
				float: left;
				width: 60px;
				input[type="text"]{
					font-size: 24px;
				}
				span{
					font-size: 20px;
					margin: -10px 5px;
					display: block;
					color: #000;
				}
				.flag{
					display: block;
					float: right;
					margin-top: -9px;
					height: 15px;
					width: 22px;
					background: #3ba7ff;
					border: 1px solid #d4d4d4;
					position: relative;
					&:before,
					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 5px;
					}
					&:before {
						background: #fff;
						top: 0;
					}
					&:after {
						background: #ff3223;
						bottom: 0;
					}
				}
			}
		}
	}
	#right_edit_price {
		.top {
			width: 250px;
			h4{
				width: 183px;
				display: inline-block;
			}
			.pic {
				margin: 3px 5px 0 0;
				height: 28px;
				width: 28px;
				background-image: url('../images/icons/upload.png');
				background-position: 224px 0px;
				overflow: hidden;
				float: left;
			}
			.pictwo {
				margin: 3px 5px 0 0;
				height: 28px;
				width: 28px;
				background-image: url('../images/icons/12.png');
				background-position: 224px 0px;
				overflow: hidden;
				float: right;
			}
		}
		.middle {
			span {
				display: block;
				font-size: 12px;
				white-space: pre-wrap;
			}
			button,.doc {
				position: relative;
				left: 30%;
			}
			.input {
				margin: 0 auto;
				border-radius: 5px;
				background-color: #36a2e2;
				background-position: 50% 50%;
				width: 133px;
				display: block;
				.text {
					color: #fff;
					height: 0;
					text-align: center;
					position: relative;
					top: 6px;
					overflow: visible;
					padding-top: 1px;
					font-size: 16px;	
				}
				input[type="file"] {
					-moz-opacity: 0;
					filter: alpha(opacity=0);
					opacity: 0;
					font-size: 12px;
					height: 30px;
					width: 100%;
				}
			}
		}
	}
	#option_pack_window {
		.top {
			margin-bottom: 5px;
			.pack,.optimum,.vip {
				padding: 0;
				width: 118px;
				font-size: 13px;
				text-align: center;
			}
			.optimum {
				background-color: #bfea30;
			}
			.vip {
				background-color: #fbf230;
			}
		}
		.middle { 
			span {
				span{
					color: #570;
					font-weight: bold;
				}
			}
			.money {
				color: #525266;
			}
			.history{
				color: #44a8e3;
			}
		}
		.buttons {
			input[type="submit"] {
				width: 100px;
			}
			button {
				a {
					color: #fff;
					text-decoration: none;
					&:hover{}
					&:active{}
				}
			}
		}
	}
	#review_right_window {
		h4{
			color: #0fbff2;
		}
		.top{
			i{
				margin-right: 5px;
				height: 46px;
				width: 49px;
				background: url('../images/icons/feedback BIG.png');
				float: left;
			}
			h4{
				font-size: 14px;
				line-height: 15px;
			}
			span{
				color: #525266;
			}
		}
		.middle {
			.row{
				margin: 0;

				i {
					width: 15px;
					height: 15px;
					background-color: #232323;
					display: inline-block;
				}
				.variants{
					clear: both;
					margin: 0;
					margin-left: 24px;
					overflow: hidden;
					padding: 0;
					transition: padding 0.3s ease;
					.row{
						margin-bottom: -60px;
						transition: margin 0.3s ease;
					}
				}
				input[type=checkbox]:checked + label + .variants{
					.row{
						margin-bottom: 0;
					}
				}
			}
			> .row{
				> label{
					font-weight: bold;
					color: #2f1a2f;
				}
			}
		}
		.photo{
			span{
				display: block;
			}
			.input{
				margin-top: 2px;
				border-radius: 5px;
				background-color: #36a2e2;
				background-position: 50% 50%;
				width: 133px;
				display: block;
				float: left;
				.text{
					color: #fff;
					height: 0;
					text-align: center;
					position: relative;
					top: 6px;
					overflow: visible;
					padding-top: 1px;
					font-size: 16px;	
				}
				input[type="file"]{
					-moz-opacity: 0;
					filter: alpha(opacity=0);
					opacity: 0;
					font-size: 12px;
					height: 30px;
					width: 100%;
					}
			}
			input[type="submit"]{
				display: inline-block;
				text-align: center;
				margin-left: 10px;
				padding-top: 2px;
				width: 133px;
			}
		}
	}
	#record_right_window {
		.top,.date,.time,.info,.buttons {
			margin-bottom: 10px;
		}
		.top {
			i {
				height: 28px;
				width: 28px;
				background: url('../images/icons/advanced.png');
				background-position: 28px 0px;
				display: inline-block;
				float: left;
				margin: 3px 5px 0 0;
			}
			h4{
				display: inline;
			}
		}
		.info {
			span {
				float: left;
				margin: 5px 5px 0 0;
			}
			.id {
				width: 214px;
			}
		}
		.date {
			h4 {
				text-align: center;
			}
			.tomorrow{
				float: right;
			}
			a {
				display: block;
				position: relative;
				left: 69%;
			}
		}
		.time {
			h4 {
				text-align: center;
				display: block;
			}
			.buttons{
				input[type="submit"] {
					background-color: #36a2e2;
				}
			}
		}
		.buttons {
			input[type="submit"] {
				background-color: #df0b4b;	
			}
		}
		.slider {
			display: block;
			height: 65px;
			width: 240px;
			#time-range {
				span {
					position: absolute;
					margin-top: 10px;
				}
				.value-min {
					float: left;
					left: 0px;
				}
				.value-max {
					float: right;
					right: 0px;
				}
			}
		}
	}
}
#review_modal{
	width: 280px;
	}


// Подвал
#footer {
	.box-sizing;
	background: #f5f4f1;
	bottom: 0;
	color: @color-blue;
	height: 155px;
	left: 0;
	padding-bottom: 50px;
	position: absolute;
	width: 100%;
	.information {
		.box-sizing;
		height: 100%;
		padding: 8px 30px;
		position: relative;
		.phone {
			background: url('../images/icons/footer.phone.png') 0% 50% no-repeat;
			.box-sizing;
			padding-left: 40px;
			font-size: 18px;
			font-weight: bold;
			width: 220px;
			span {
				display: block;

			}
		}
		.social {
			bottom: 8px;
			height: 30px;
			overflow: hidden;
			left: 30px;
			position: absolute;
			a {
				background: 50% 50% no-repeat;
				display: block;
				float: left;
				margin-right: 25px;
				height: 30px;
				width: 30px;
				&.vk {
					background-image: url('../images/icons/footer.social.vk.png');
				}
				&.tw {
					background-image: url('../images/icons/footer.social.tw.png');
				}
				&.fb {
					background-image: url('../images/icons/footer.social.fb.png');
				}
				&.em {
					background-image: url('../images/icons/footer.social.em.png');
				}
			}
		}
		.menu {
			margin: 0;
			left: 260px;
			list-style: none;
			padding: 0;
			position: absolute;
			top: 8px;
			.column {
				float: left;
			}
			li {
				margin: 0 10px;
				padding: 0;
				overflow: hidden;
				a {
					display: inline-block;
					color: @color-blue;
					padding: 1px 0;
					font-size: 14px;
					font-weight: bold;
					text-decoration: underline;
					&:active,
					&:hover {
						text-decoration: none;
					}
					&:active {
						padding-top: 2px;
						padding-bottom: 0;
					}
				}
			}
		}
	}
	.copywrong {
		.box-sizing;
		background: #fff;
		bottom: 0;
		color: #999;
		font-size: 13px;
		height: 50px;
		left: 0;
		line-height: 50px;
		overflow: hidden;
		padding: 0 20px;
		position: absolute;
		width: 100%;
		a {
			color: #999;
			text-decoration: underline;
			.transition(color .3s ease);
			&:hover {
				color: #333;
			}
		}
		.developers {
			float: right;
		}
	}
}