.box-sizing() {
		 box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.gradient(...) {
	@props: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
	background-image:         linear-gradient(@props);
	background-image:      -o-linear-gradient(@props);
	background-image:     -ms-linear-gradient(@props);
	background-image:    -moz-linear-gradient(@props);
	background-image: -webkit-linear-gradient(@props);
}
.radial-gradient(...) {
	@props: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
	background-image: -moz-radial-gradient(@props);
    background-image: -webkit-radial-gradient(@props);
    background-image: -o-radial-gradient(@props);
    background-image: -ms-radial-gradient(@props);
    background-image: radial-gradient(@props);
}

.noselected() {
			user-select: none;
	   -moz-user-select: none;
	 -khtml-user-select: none;
	-webkit-user-select: none;
}

// .transition(@a, @b:X, ...) {
// 	@props: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
// 			transition: @props;
// 	   -moz-transition: @props;
// 	-webkit-transition: @props;
// }

.transition (@property: all,@duration: 0s,@delay: 0s,@ease: ease-in-out) when (@property=transform) {
			transition+:         transform @duration @delay @ease;
		 -o-transition+:      -o-transform @duration @delay @ease;
	   -moz-transition+:    -moz-transform @duration @delay @ease;
	-webkit-transition+: -webkit-transform @duration @delay @ease;
}
.transition (@property: all,@duration: 0s,@delay: 0s,@ease: ease-in-out) when not (@property=transform) {
			transition+: @arguments;
		 -o-transition+: @arguments;
	   -moz-transition+: @arguments;
	-webkit-transition+: @arguments;
}

// .transform(@rule) {
// 			transform: @rule;
// 	   -moz-transform: @rule;
// 	-webkit-transform: @rule;
// }

.transform (@value) {
			transform+_:@value;
		 -o-transform+_:@value;
	   -moz-transform+_:@value;
	-webkit-transform+_:@value;
}